* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.board > div {
  display: flex;
  flex: 1;
}

.spot {
  border: 2px solid black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}

.container h1 {
  font-size: 48px;
  margin: 0 0 48px;
}

.container .display-message {
  margin: 0 0 32px;
  font-size: 24px;
}

.restart-button {
  margin-top: 96px;
  padding: 12px 24px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 16px;
  white-space: nowrap;
}

.change-button, .bot-button {
  margin-top: 32px;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
}

.player {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.player.active > h3  {
  color: red;
}

.player .score-title {
  margin-top: 32px;
  margin-bottom: 0;
}

.player .score {
  font-size: 24px;
}

.spot[data-row='0'].spot[data-col='0'],
.spot[data-row='0'].spot[data-col='2'],
.spot[data-row='2'].spot[data-col='0'],
.spot[data-row='2'].spot[data-col='2'] {
  border-width: 0;
}

.spot[data-row='0'].spot[data-col='1'],
.spot[data-row='2'].spot[data-col='1'] {
  border-top-width: 0;
  border-bottom-width: 0;
}

.spot[data-row='1'].spot[data-col='0'],
.spot[data-row='1'].spot[data-col='2'] {
  border-left-width: 0;
  border-right-width: 0;
}

.spot:hover {
  background-color: rgb(240, 240, 240);
}