* {
  font-family: sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.board > div {
  display: flex;
  flex: 1;
}

.spot {
  border: 2px solid black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}
