* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.board > div {
  display: flex;
  flex: 1;
}

.spot {
  border: 2px solid black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}

.container h1 {
  font-size: 48px;
  margin-bottom: 16px;
  margin-top: 0px;
}

.container .display-message {
  margin-bottom: 64px;
  font-size: 24px;
}
